{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#    <p>Hey</p>#}
{#</body>#}
{#</html>#}


<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--    &lt;!&ndash; Basic Page Needs-->
<!--        ================================================== &ndash;&gt;-->

    <title>Zhenxiang Lin</title>
    <meta name="description" content="Zhenxiang Lin's Personal Website">
    <meta name="keywords" content="webpage">
    <meta name="author" content="Zhenxiang Lin">
<!--    &lt;!&ndash; Mobile Specific Metas-->
<!--        ================================================== &ndash;&gt;-->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Template CSS Files
        ================================================== -->
<!--     Twitter Bootstrs CSS -->

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Ionicons Fonts Css -->
    <link rel="stylesheet" href="assets/css/ionicons.min.css">
<!--     animate css -->
    <link rel="stylesheet" href="assets/css/animate.css">
<!--     Hero area slider css-->
    <link rel="stylesheet" href="assets/css/slider.css">
<!--     owl craousel css -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.css">
    <!-- template main css file -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- Template Javascript Files
        ================================================== -->
    <!-- modernizr js -->/assets/js/
    <script src="assets/js/modernizr-2.6.2.min.js.download"></script>
<!--    &lt;!&ndash; jquery &ndash;&gt;-->
    <script src="assets/js/jquery.min.js.download"></script>
<!--    &lt;!&ndash; owl carouserl js &ndash;&gt;-->
    <script src="assets/js/owl.carousel.min.js.download"></script>
<!--    &lt;!&ndash; bootstrap js &ndash;&gt;-->

    <script src="assets/js/bootstrap.min.js.download"></script>
    <!-- wow js -->
    <script src="assets/js/wow.min.js.download"></script>
    <!-- slider js -->
    <script src="assets/js/slider.js.download"></script>
    <script src="assets/js/jquery.fancybox.js.download"></script>
    <!-- template main js -->
    <script src="assets/js/main.js.download"></script>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 16px;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZL4BP5RJ60"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZL4BP5RJ60');
    </script>
</head>

<body data-new-gr-c-s-check-loaded="14.984.0" data-gr-ext-installed="">
<!--
    ==================================================
    Header Section Start
    ================================================== -->
<header id="top-bar" class="navbar-fixed-top animated-header">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /responsive nav button -->
            <!-- logo -->
            <div class="navbar-brand">
                <a href="index2.html" style="font-size:1.7em;color:black">
                    Zhenxiang Lin
                </a>
            </div>
            <!-- /logo -->
        </div>
        <!-- main menu -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <div class="main-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#Research">Research</a>
                    </li>
<!--                    <li>-->
<!--                        <a href="#Teaching">Teaching</a>-->
<!--                    </li>-->
                    <li>
                        <a href="#Publication">Publication</a>
                    </li>
                    <li><a href="#Projects">Projects</a></li>
                </ul>
            </div>
        </nav>
        <!-- /main nav -->
    </div>
</header>
<!--
    ==================================================
    Slider Section Start
    ================================================== -->
<!--
        ==================================================
        Slider Section Start
        ================================================== -->

<section id="about" style="margin-bottom: -90px;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="block wow fadeInRight animated" data-wow-delay=".3s" data-wow-duration="500ms"
                     style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInRight;">
                    <div align=center><img class="icon" src="images/selfish/self.jpg" alt=""></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <br>
                <div class="block wow fadeInLeft animated" data-wow-delay=".3s" data-wow-duration="500ms"
                     style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft; margin-bottom: 10px;" >
                    <h2>
                        About me
                    </h2>
                    <p>
                        I am a graduated student from <a href="https://www.unsw.edu.au/">the University of New South Wales</a>,
                        My primary research interest lies in Computer Vision, Deep Learning and their application.
                    </p>
                    <p> <a href="#">Google Scholar</a>
                        &nbsp;&middot;&nbsp; <a href="#">GitHub</a>
                        &nbsp;&middot;&nbsp; <a href="docs/CV-zhenxinaglin.pdf">CV</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>


<!--<section id="News" style="padding-top: 100px; margin-top: -100px;">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="block wow fadeInRight animated" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInRight;">-->
<!--                <h2>-->
<!--                    News-->
<!--                </h2>-->
<!--                <ul>-->
<!--                    <li> </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<hr>-->

<!--<section id="Research" style="padding-top: 100px; margin-top: -100px;">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="block wow fadeInRight animated" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInRight;">-->
<!--                <h2>-->
<!--                    Research-->
<!--                </h2>-->
<!--                <div align=center>-->
<!--                    <div class="img-wall" style="width: 90%;">-->
<!--                        <div class="img-wall-element">-->
<!--                            <img src="images/source_localization.png" style="border: 3px gray dashed;">-->
<!--                            <div>Source Localization</div>-->
<!--                        </div>-->
<!--&lt;!&ndash;                        <div class="img-wall-element">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="images/source_separation.png" style="border: 3px gray dashed;">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div>Source Separation</div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="img-wall-element">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="images/self-supervision.jpg" style="border: 3px gray dashed;">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div>Self-Supervision</div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                <p class="research" >-->
<!--                    My research so far has focused on computer vision....-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<hr>-->

<!--<section id="Teaching" style="padding-top: 100px; margin-top: -100px;">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">-->
<!--                <h2>-->
<!--                    Teaching-->
<!--                </h2>-->
<!--                <p>Teaching Assistant:</p>-->
<!--                <ul>-->
<!--                    <li>VE312 Digital Integrated Circuits, Fall 2018, UM-SJTU Joint Institute. With <a href="https://www.ji.sjtu.edu.cn/about/faculty-staff/faculty-directory/faculty-detail/86/">Yaping Dan</a>.</li>-->
<!--                    <li>VE311 Electronic Circuits, Summer 2019, UM-SJTU Joint Institute. With <a href="https://www.ji.sjtu.edu.cn/about/faculty-staff/faculty-directory/faculty-detail/126/">Chang-Ching Tu</a>.</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<hr>-->

<!--<section id="Publication" style="padding-top: 100px; margin-top: -100px;">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">-->
<!--                <h2>-->
<!--                    Publication-->
<!--                </h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">-->
<!--                <div class="col-md-6 col-sm-6" align="center">-->
<!--                    <img src="images/projects/stereocrw.png" alt="" style="width: 75%;">-->
<!--                </div>-->
<!--                <div class="col-md-6 col-sm-6">-->
<!--                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                         style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">-->
<!--                        <p>-->
<!--                            <b>Ziyang Chen</b>, <a href="https://web.eecs.umich.edu/~fouhey/">David F. Fouhey</a>, <a-->
<!--                                href="http://andrewowens.com/">Andrew Owens</a><br>-->
<!--                            <span class="mybold">Sound Localization by Self-Supervised Time Delay Estimation</span>-->
<!--                            <br>-->
<!--                            &lt;!&ndash; ECCV 2022 (<span style="color:#a00"><b>Oral</b></span>) &ndash;&gt;-->
<!--                            arXiv 2022-->
<!--                            <br>-->
<!--                            <a href="https://ificl.github.io/stereocrw/">project page</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            <a href="https://arxiv.org/abs/2204.12489">paper</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            &lt;!&ndash; <a href="#">slides</a> &ndash;&gt;-->
<!--                            &lt;!&ndash; &nbsp;&middot;&nbsp; &ndash;&gt;-->
<!--                            <a href="https://github.com/IFICL/stereocrw">code</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            <a href="https://ificl.github.io/stereocrw/docs/bibtex.txt">bibtex</a>-->
<!--                            <br>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">-->
<!--                <div class="col-md-6 col-sm-6" align="center">-->
<!--                    <img src="images/projects/mixcrw.png" alt="" style="width: 75%;">-->
<!--                </div>-->
<!--                <div class="col-md-6 col-sm-6">-->
<!--                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                         style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">-->
<!--                        <p>-->
<!--                            <a href="https://hxixixh.github.io/">Xixi Hu</a>*, <b>Ziyang Chen</b>*, <a-->
<!--                                href="http://andrewowens.com/">Andrew Owens</a><br>-->
<!--                            <span class="mybold">Mix and Localize: Localizing Sound Sources in Mixtures</span>-->
<!--                            <br>-->
<!--                            CVPR 2022-->
<!--                            <br>-->
<!--                            &lt;!&ndash; <a href="https://ificl.github.io/structure-from-silence/">project page</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            <a href="https://arxiv.org/abs/2111.05846">paper</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            <a-->
<!--                                href="https://drive.google.com/drive/folders/1xjgSDOvKm21oZvLDjerD9uSl2rZ_vzbl?usp=sharing">slides</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            <a href="#">code (coming soon)</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            <a href="https://ificl.github.io/structure-from-silence/docs/bibtex.txt">bibtex</a>-->
<!--                            <br> &ndash;&gt;-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">-->
<!--                <div class="col-md-6 col-sm-6" align="center">-->
<!--                    <img src="images/projects/sfs.png" alt="" style="width: 75%;">-->
<!--                </div>-->
<!--                <div class="col-md-6 col-sm-6">-->
<!--                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                         style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">-->
<!--                        <p>-->
<!--                            <b>Ziyang Chen</b>*, <a href="https://hxixixh.github.io/">Xixi Hu</a>*, <a href="http://andrewowens.com/">Andrew Owens</a><br>-->
<!--                            <span class="mybold">Structure from Silence: Learning Scene Structure from Ambient Sound</span>-->
<!--                            <br>-->
<!--                            CoRL 2021 (<span style="color:#a00"><b>Oral</b></span>)-->
<!--                            <br>-->
<!--                            <a href="https://ificl.github.io/structure-from-silence/">project page</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            <a href="https://arxiv.org/abs/2111.05846">paper</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            <a href="https://drive.google.com/drive/folders/1xjgSDOvKm21oZvLDjerD9uSl2rZ_vzbl?usp=sharing">slides</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            <a href="https://github.com/IFICL/structure-from-silence">code</a>-->
<!--                            &nbsp;&middot;&nbsp;-->
<!--                            <a href="https://ificl.github.io/structure-from-silence/docs/bibtex.txt">bibtex</a>-->
<!--                            <br>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; New Publication &ndash;&gt;-->
<!--    </div>-->
<!--</section>-->
<!--<hr>-->



<section id="Projects" style="padding-top: 100px; margin-top: -100px;">
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms"
                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">
                <h2>
                    Projects
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row"  style="margin-bottom: 20px;">
            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms"
                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">
                <div class="col-md-6 col-sm-6" align="center">
                    <img src="images/projects/ve414.png" style="width: 75%;">
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms"
                         style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">
                        <p>
                            <b>Prediction Model based on Bayesian Hierarchical Clustering</b>
                            <br>
                            Bayesian Analysis, Summer 2019. <a style="padding-left:10px;"
                                                               href="docs/VE414_poster.pdf">[Poster]</a>
                            <br><br>
                            We applied Bayesian Hierarchical Clustering algorithm to make roughly correct prediction with limited data provided.
                            We processed, re-generated and achieved efficient algorithms in Julia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"  style="margin-bottom: 20px;">
            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms"
                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">
                <div>
                    <div class="col-md-6 col-sm-6" align="center">
                        <img src="images/projects/capstone.png" style="width: 75%;">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms"
                             style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">
                            <p>
                                <b>Design of Evaluative System for Online Car Hiring Service</b>
                                <br>
                                Capstone Porject, Fall 2018.   <a style="padding-left:10px;" href="https://github.com/IFICL/VE450-Final-Project">[Code]</a>
                                <br><br>
                                We design a new evaluation system with UI which can capture opinions from customers' comments based on NLP and aspect level sentiment analysis by applying China-Word-Vector & Recurrent Attention Network.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"  style="margin-bottom: 20px;">
            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms"
                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">
                <div>
                    <div class="col-md-6 col-sm-6" align="center">
                        <img src="images/projects/VG101.png" style="width: 60%;">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms"
                             style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">
                            <p>
                                <b>Driver's Alarming System in Vehicle</b>
                                <br>
                                VG100 Porject, Summer 2016.
                                <br><br>
                                We built a device which can send alarm to driver when he is sleepy by capturing picture and then detecting whether the
                                driver's eyes are closed or not. The device was assembled in a Raspberry Pi by running Python code with OpenCV.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<!--<section id="Misc">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms"-->
<!--                 style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: none;">-->
<!--                <h2>-->
<!--                    Misc-->
<!--                </h2>-->
<!--                <script>-->
<!--                    var sites = [-->
<!--                        'https://jasonqsy.github.io/',-->
<!--                        'https://c-t-a.me/#',-->
<!--                        'https://carolzxyzxy.github.io/',-->
<!--                        'https://yangych29.github.io/index.html',-->
<!--                        'https://w-yi.github.io/',-->
<!--                        'https://jinlinyi.github.io/'-->
<!--                    ];-->

<!--                    function randomSite() {-->
<!--                        var i = parseInt(Math.random() * sites.length);-->
<!--                        location.href = sites[i];-->
<!--                    }-->
<!--                </script>-->
<!--                <p>-->
<!--                    - I have many genius friends and <a href="#" onclick="randomSite();"><b>this Link</b></a> will redirect you to one of them.-->
<!--                </p>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--<hr>-->
<!--
    ==================================================
    Portfolio Section Start
    ================================================== -->
<!--
    ==================================================
    Call To Action Section Start
    ================================================== -->

<!--
==================================================
    Company Feature Section Start
================================================== -->
<!-- <section class="company-description" style="background: #02BDD5;color:white;"> -->



<!--
    ==================================================
    Footer Section Start
    ================================================== -->

<!--<footer id="footer">-->
<!--    <div class="container">-->
<!--        <div class="col-md-8">-->
<!--            <p class="copyright">Copyright 2022 - present @ Zhenxiang Lin.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->

</body>

</html>































